<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/review_offer.css">
    <link rel="icon" href="/icons/bangiconpurple.png" type="image/x-icon"/> 
    
<title>Αξιολόγηση προσφοράς</title>
</head>
<body>
   
<a href="/user_home">Go home</a>   
<script>

var reviewedsup = <%- JSON.stringify(reviewedsup) %>;
var userpoints = <%- JSON.stringify(userpoints) %>;
var likedoffers = <%- JSON.stringify(likedoffers) %>;
var dislikedoffers = <%- JSON.stringify(dislikedoffers) %>;
var admin = <%- JSON.stringify(admin) %>;
console.log(userpoints)

function customPopup(reviewedsup){
    let offertext = ``
    let likedtext = ``
    let dislikedtext = ``
    let availabletext = ``
    let deletetext = ``
    for (offer of reviewedsup.offers) {
        let temptext = `<div> Προϊόν: ${offer.product} </div>
                        <div> Τιμή: ${offer.price} </div>
                        <div> Από Χρήστη: ${offer.username} με πόντους ${userpoints.find(({ id }) => id === offer.username).points} </div>
                        <div> Ημερομηνία Καταχώρησης: ${offer.date} </div>`
        if (!likedoffers.includes(offer.id) && offer.available == true){
            likedtext = `<div> Likes: ${offer.likes} <form action="/like/${reviewedsup.properties.id}/${offer.id}" method="post"><button id='like${offer.id}' >Like</button>
                 <input type="hidden" name="offeruser" id="offeruser" value="${offer.username}"></form></div>`
        } else {
            likedtext = `<div> Likes: ${offer.likes} <form action="/like/${reviewedsup.properties.id}/${offer.id}" method="post"><button disabled id='like${offer.id}' >Like</button></form></div>`
        }

        if (!dislikedoffers.includes(offer.id) && offer.available == true){
            dislikedtext = `<div> Dislikes: ${offer.dislikes} <form action="/dislike/${reviewedsup.properties.id}/${offer.id}" method="post"><button id='dislike${offer.id}'>Dislike</button>
                <input type="hidden" name="offeruser" id="offeruser" value="${offer.username}"></form></div>`
        } else {
            dislikedtext = `<div> Dislikes: ${offer.dislikes} <form action="/dislike/${reviewedsup.properties.id}/${offer.id}" method="post"><button disabled id='dislike${offer.id}'>Dislike</button></form></div>`
        }

        if (offer.available == true){
            availabletext = `<div> Διαθέσιμο! <form action="/unavailable/${reviewedsup.properties.id}/${offer.id}" method="post"><button id='available${offer.id}'>Εναλλαγή</button></form></div></div>  `
        } else {
            availabletext = `<div> Μη Διαθέσιμο! <form action="/available/${reviewedsup.properties.id}/${offer.id}" method="post"><button id='available${offer.id}'>Εναλλαγή</button></form></div></div>  `
        }
        if (admin == true){
            deletetext = `<div> <form action="/delete/${reviewedsup.properties.id}/${offer.id}" method="post"><button id='delete${offer.id}'>Διαγραφή Προσφοράς</button></form></div></div>  <br></br>`
        } else {
            deletetext = `<br></br>`
        }
        offertext = offertext.concat(temptext, likedtext, dislikedtext, availabletext, deletetext)

    }

    return `<b> ${reviewedsup.properties.name} </b>
            ${offertext}
    
    `
}

text = customPopup(reviewedsup)

document.write(text)


</script>

</body>
</html>