<!DOCTYPE html>

<html>
    <head>
        <title>Bang Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="/profile_style.css">
        <link rel="icon" href="/icons/bangiconpurple.png" type="image/x-icon"/> 
    </head>

    <body>
        <img class="logo" src="banglogopurple.png" alt="logo">
        <br><br><br>
        <div class="profile">
            <a href="/user_home">Home page</a>
            <br>
            <form action="/user_profile_username?_method=PUT" method="POST">
                <!-- Username: <%= name%> -->
                <input type="text" name="username" placeholder="User name" required>
                <button>Change username</button>
            </form>
            <br>
            <form action="/user_profile_password?_method=PUT" method="POST">
                <input type="password" name="password" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[#,$,*,&,@,])(?=.*[A-Z]).{8,}">
                <button>Change password</button>
            </form>
        </div>
        <div class="userstats" id="userstats"></div>
        <div">=====OFFER HISTORY=====</div>
        <div class="offers" id="offers"></div>
        <div">=====LIKE HISTORY=====</div>
        <div class="likes" id="likes"></div>
        <div">=====DISLIKE HISDTORY HISTORY=====</div>
        <div class="dislikes" id="dislikes"></div>

        <script>
            var user = <%- JSON.stringify(user) %>;
            var offers = <%- JSON.stringify(offers) %>;
            var liked_history = <%- JSON.stringify(liked_history) %>;
            var disliked_history = <%- JSON.stringify(disliked_history) %>;

            function showStats(){
                let showstats = `<div>Username: ${user.username} </div>
                                <div>Μηνιαίοι Πόντοι: ${user.monthpoints} </div>
                                <div>Συνολικοί Πόντοι: ${user.points} </div>
                                <div>Μηνιαία Tokens: ${user.monthtokens} </div>
                                <div>Συνολικά Tokens: ${user.tokens} </div>
                                <br></br> `
            
                var x = document.getElementById("userstats")
                x.innerHTML = `${showstats}`
            }

            function showOffers(ar, tag){
                let showoffers = ``
                for(offer of ar){
                    let temp = `<div> Προϊόν: ${offer.product} </div>
                        <div> Τιμή: ${offer.price} </div>
                        <div> Ημερομηνία Καταχώρησης: ${offer.date} </div>
                        <div> Likes: ${offer.likes} </div>
                        <div> Dislikes: ${offer.dislikes} </div>
                        <div> Διαθέσιμο: ${offer.available} </div>
                        <div> Κριτήριο Μέρας: ${offer.reqDay} </div>
                        <div> Κριτήριο Βδομάδας: ${offer.reqWeek} </div>
                        <hr><hr>
                        <br></br>`
                    showoffers = showoffers.concat(temp)
                }
                var x = document.getElementById(tag)
                x.innerHTML = `${showoffers}`
            }

            showStats()
            showOffers(offers, "offers")
            showOffers(liked_history, "likes")
            showOffers(disliked_history, "dislikes")

        </script>

    </body>
</html>